*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 90vh;
    height: 90vh;
    align-items: stretch;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45vh;
    margin-top: -45vh;
}

.div-grid-item{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
}

.div-grid-row{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.touched{
    background-color: black;
}

.clear-button {
    background-color: white;
}